body {
    margin: 0;
    padding: 0 7%;
    margin-top: 50px;
}

/* Hero */

.hero {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    width: 40%;
}

.hero-left-title{
    font-size: 4.5rem;
}

.hero-left-description {
    font-size: 2rem;
}

.hero img{
    width: 800px;
}

@media (max-height: 1110px) {
    .hero {
        height: fit-content;
    }
}

@media (max-width: 2461px) {
    .hero-left-title {
        font-size: 4rem;
    }
}

@media (max-width: 2187px) {
    .hero-left-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 1914px) {
    .hero-left-title {
        font-size: 3rem;
    }
}

@media (max-width: 1643px) {
    .hero-left-title {
        font-size: 2.5rem;
    }
    .hero img {
        width: 500px;
    }
}

@media (max-width: 1364px) {
    .hero img {
        width: 400px;
    }
    .hero-left-description {
        font-size: 1rem;
    }
    .hero-left-title {
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
    .hero {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left {
        width: 100%;
    }
    .hero-left-description {
        font-size: 1rem;
        text-align: center;
    }
    .hero-left-title {
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 518px) {
    .hero-left-title {
        font-size: 1.5rem;
        text-align: center;
    }
    .hero-left-description {
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 420px) {
    .hero img {
        width: 300px;
    }
}

/* Stats */
.stats {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stats-title {
    text-align: center;
    font-size: 4rem;
    margin-top: 10vh;
    margin-bottom: 0;
    text-decoration: underline;
}

.stats-card {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.stats-card img {
    width: 200px;
}

.stats-description {
    font-size: 1.5rem;
    text-align: center;
}

@media (max-height: 1110px) {
    .stats {
        height: fit-content;
        margin-bottom: 100px;
    }
}

@media (max-width: 1564px) {
    .stats-card {
        width: 20%;
    }
    .stats-card h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .stats-card img {
        width: 100px;
    }
    .stats-description {
        font-size: 1rem;
    }
}

@media (max-width: 1052px) {
    .stats {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 60px;
    }
    .stats-card {
        width: 50%;
    }
    .stats-title {
        font-size: 3rem;
    }
    .stats-card img {
        width: 75px;
    }
    .stats-card h1 {
        font-size: 1.25rem;
    }
    .stats-description {
        font-size: 1rem;
    }
}

/* Team */

.profile-picture {
    border-radius: 50%;
}

.team {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.team h1 {
    font-size: 4rem;
    text-decoration: underline;
}

.team-member {
    display: flex;
    width: 33%;
    justify-content: space-between;
    align-items: center;
}

.team-member img {
    width: 250px;
    margin: 50px;
    align-self: center;
}

.team-member.wadood img {
    width: 275px;
}

.team-member h2 {
    font-size: 3rem;
    text-decoration: underline;
}

.team-member p {
    font-size: 1.5rem;
}

@media (max-height: 1110px) {
    .team {
        height: fit-content;
    }
}

@media (max-width: 2200px) {
    .team h1 {
        font-size: 2.5rem;
        text-decoration: underline;
    }
    .team-member h2 {
        font-size: 2.5rem;
        text-decoration: underline;
    }
    .team-member p {
        font-size: 1.25rem;
    }
    .team-member img {
        width: 150px;
        margin: 50px;
    } 
    .team-member.wadood img {
        width: 175px;
    }
}

@media (max-width: 1550px) {
    .team {
        height: fit-content;
    }
    .team-member {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
    }
    .team-member h2 {
        font-size: 1.5rem;
        text-decoration: underline;
        text-align: center;
    }
    .team-member p {
        font-size: 1rem;
        text-align: center;
    }
    .team-member.ghazi {
        flex-direction: column-reverse;
    }
}