body {
    margin: 0;
    padding: 0 7%;
}

/* Hero */

.hero {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    width: 40%;
}

.hero-left-title{
    font-size: 5rem;
}

.hero-left-description {
    font-size: 1.5rem;
}

.hero img{
    width: 700px;
}

/* Stats */
.stats {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stats-title {
    text-align: center;
    font-size: 4rem;
    margin-top: 10vh;
    margin-bottom: 0;
}

.card {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
}

/* Team */

.team {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.team-member {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team-member img {
    width: 200px;
    margin: 50px;
}

.team-member div {
    width: 33%;
}
