body {
    background-color: #1E1E1E;
}

.home-container {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    z-index: -1000;
}

.home-header {
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    height: 45vh;
    display: flex;
    align-items: center;
    font-size: 8rem;
}

.home-image {
    height: 60vh;
}