html {
    scroll-timeline: --page-scroll block;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0% 7%;
}

/* hero page */

.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.hero-text-container {
    width: 70%;
}

img {
    width: 48vw;
}

.heading {
    font-size: 7rem;
    text-align: left;
    margin: 0;
}

.hero-container .sub-heading {
    text-align: left;
}

.sub-heading {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
/* 
.home-button {
    background-color: rgb(140, 20, 64, 0.5);
    width: 100%;
    height: 70px;
    border-radius: 8px;
    border-width: 0;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 0.3s ease-in;
}

.home-button:hover {
    background-color: #8c1440;
} */

.home-button {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.home-button:active,
.home-button:hover {
  outline: 0;
}

.home-button span {
  background-color: rgb(5, 6, 45);
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button:hover span {
  background: none;
}

@media (max-height: 1100px) {
    .hero-container {
        height: fit-content;
        margin-bottom: 200px;
    }
}

@media (max-width: 2232px) {
    .heading {
        font-size: 6rem;
        text-align: left;
        margin: 0;
    }
    .sub-heading {
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .home-button {
        width: 100%;
        height: 60px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 1em;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
      }
}

@media (max-width: 2232px) {
    #hero-image {
        width: 44vw;
    }
}

@media (max-width: 1627px) {
    .heading {
        font-size: 5rem;
        text-align: left;
        margin: 0;
    }
    .sub-heading {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .home-button {
        width: 100%;
        height: 50px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 1em;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
      }
}

@media (max-width: 1380px) {
    .heading {
        font-size: 4rem;
        text-align: left;
        margin: 0;
    }
    .sub-heading {
        font-size: 1rem;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 1023px) {
    .heading {
        font-size: 3rem;
        text-align: left;
        margin: 0;
    }
    .sub-heading {
        font-size: 1rem;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .home-button {
        width: 80%;
        height: 50px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-size: 1rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 1em;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
      }
      .hero-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .hero-text-container {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-container .sub-heading {
        text-align: center;
    }
    .heading {
        text-align: center;
    }
    #hero-image {
        width: 65vw;
    }
}

@media (max-width: 575px) {
    #hero-image {
        width: 60vw;
    }
    .hero-container {
        height: 100vh;
        gap: 50px;
    }
}

@media (max-width: 370px) {
    .heading {
        font-size: 2rem;
        text-align: left;
        margin: 0;
    }
    .home-button {
        width: 80%;
        height: 40px;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-size: 0.7rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 1em;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
      }
}

/* Problem Page */

.problem-container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.problem {
    text-decoration: underline;
}

.list-container {
    margin-top: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
    font-size: 1.5rem;
    list-style: none;
}

.point-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.bullet-point {
    width: 50px;
    margin-right: 10px;
}

@media (max-height: 1100px) {
    .problem-container {
        height: fit-content;
        margin-bottom: 200px;
    }
}

@media (max-width: 1627px) {
    .list-container {
        margin-top: 30px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: transparent;
        font-size: 1.5rem;
        list-style: none;
    }
    .heading.problem {
        font-size: 5rem;
    }
    .bullet-point {
        width: 40px;
        margin-right: 10px;
    }
    .sub-heading.problem {
        font-size: 2rem;
    }
}

@media (max-width: 1089px) {
    .problem-container {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .list-container {
        margin-top: 30px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: transparent;
        font-size: 1.25rem;
        list-style: none;
    }
    .bullet-point {
        width: 25px;
        margin-right: 10px;
    }
    .heading.problem {
        font-size: 3rem;
    }
    .sub-heading.problem {
        font-size: 1.5rem;
    }
}

@media (max-width: 575px) {
    .problem-container {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .list-container {
        margin-top: 30px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: transparent;
        font-size: 1rem;
        list-style: none;
    }
    .heading.problem {
        font-size: 2rem;
    }
    .sub-heading.problem {
        font-size: 1.25rem;
    }
}

/* Solution Page */

.solution-container {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paragraph-desc {
    font-size: 1.5rem;
    text-align: center;
}

@media (max-height: 1100px) {
    .solution-container {
        height: fit-content;
        margin-bottom: 200px;
    }
}

@media (max-width: 2035px) {
    .solution-container .heading {
        font-size: 6rem;
    }
}

@media (max-width: 1446px) {
    .solution-container .heading {
        font-size: 4rem;
    }
}

@media (max-width: 1023px) {
    .solution-container {
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 612px) {
    .solution-container .heading {
        font-size: 3rem;
    }
    .paragraph-desc {
        font-size: 1rem;
    }
    .solution-container img {
        width: 70vw;
    }
}

@media (max-width: 460px) {
    .solution-container .heading {
        font-size: 2rem;
    }
    .paragraph-desc {
        font-size: 1rem;
    }
    .solution-container img {
        width: 80vw;
    }
}

/* Why Page */

.why-page {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 200px;
}

.why-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-card h1 {
    font-size: 2rem;
    text-decoration: underline;
}

.why-image {
    width: 150px;
}

.bold {
    font-weight: bold;
}

.why-description {
    text-align: center;
    font-size: 1.75rem;
}

@media (max-height: 1100px) {
    .why-page {
        height: fit-content;
        margin-bottom: 200px;
    }
}

@media (max-width: 1545px) {
    .why-description {
        font-size: 1.5rem;
    }
    .why-card h1 {
        font-size: 1.75rem;
    }
}

@media (max-width: 1000px) {
    .why-page {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* margin-top: 10px;
        margin-bottom: 150px; */
    }
    .why-card h1 {
        text-align: center;
    }
    .why-image {
        width: 100px;
    }
    .why-card {
        margin: 10px;
        width: 100%;
    }
    .why-description {
        text-align: center;
        font-size: 1.25rem;
    }
}

@media (max-width: 575px) {
    .why-description {
        text-align: center;
    }
    .card img {
        width: 70px;
    }
}

@media (max-width: 375px) {
    .why-card h1 {
        font-size: 1.25rem;
    }
    .why-description {
        font-size: 1rem;
    }
    .why-card img {
        width: 70px;
    }
}

/* Process Container */

.flex-process {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.process-container {
    width: 50%;
}

.process {
    text-align: center;
    text-decoration: underline;
}

.sub-heading.process {
    margin-bottom: 0;
}

.sub-sub-heading {
    font-size: 2rem;
    margin-top: 0;
}

.process-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

.process-description{
    text-align: center;
    font-size: 1.5rem;
}

@media (max-height: 1100px) {
    .flex-process {
        height: fit-content;
    }
}

@media (max-width: 1392px) {
    .process-container {
        width: 100%;
    }
    .process {
        text-align: center;
        text-decoration: underline;
    }
    .sub-heading.process {
        font-size: 2rem;
    }
    .sub-sub-heading {
        text-align: center;
    }
    .process-description {
        font-size: 1.25rem;
    }
}

@media (max-width: 375px) {
    .sub-heading.process {
        font-size: 1.5rem;
    }
    .sub-sub-heading {
        font-size: 1.5rem;
    }
    .process-description {
        font-size: 1rem;
    }
}